.garage {
    position: relative;
    & .winner-modal {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -700px;
        opacity: 0;
        transition: all ease-out 0.4s;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        z-index: 20;
        text-shadow: -1px 0px 2px #d1b596;
        &--visible {
            opacity: 1;
            top: 20%;
        }
    }

    & .garage-header {
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    & .cars-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
